<?xml version="1.0" ?>
<model>
    <name>wheeled_model</name>
    <version>1.0</version>
    <sdf version="1.7">wheeled_model.sdf</sdf>
    <author>
        <name></name>
        <email></email>
    </author>
    <description>Robot model, created for the education purpose. Contains two wheels.  
        Can be controlled from outside.
    </description>
</model>
