<?xml version="1.0" ?>
<model>
    <name>wheeled_model_enhanced</name>
    <version>1.0</version>
    <sdf version="1.7">wheeled_model_enhanced.sdf</sdf>
    <author>
        <name></name>
        <email></email>
    </author>
    <description>Model, created as the final project of the education.  
        It contains:
        1. Four wheels
        2. Rod with the camera on it
        
        Interfaces:
        1. Wheels control with `/model/wheeled_model_enhanced/cmd_vel@geometry_msgs/msg/Twist@ignition.msgs.Twist`
        2. Camera view with `/camera@sensor_msgs/msg/Image[ignition.msgs.Image`
        3. Camera rotation with `/camera_pos_cmd@std_msgs/msg/Float64@ignition.msgs.Double`
    </description>
</model>
